* {
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}

h1 {
	font-variant: small-caps;
}

img.artwork {
	width: 48px;
	float: left;
	height: 48px;
	margin: 3px;
	border: 0;
}

#responses li {
	list-style-type: none;
	clear: both;
}